body {
	margin:0; 
	font-family: arial;
}
#logo {

}
.nav-bar {
	background-color: white;

	height: 13%;
	width: 100%;
	overflow: hidden;
	border-bottom: solid 1px;
	border-color: #bdbfbf;

}
.nav-bar a {
	float: left;
 	display:block;
 	text-align: center;
 	padding: 2.5% 26px;
 	text-decoration: none;
 	font-size: 18px;
	border-right: solid 1px;
	border-right-color:#aaaaaa;
	padding: auto;
	position: relative;
	left: 22%;
	color: black;
	height: 100%;
	top:0px;

}
.nav-bar img {
	height: 100%;
	float: left; 
	padding-left: 5%;
}
.nav-bar a:hover {
	background-color: #88b3c2;
	cursor: pointer;
	color: white;
}

.nav-bar a.active {
    background-color:#c1f2ed;
	color: black;
}
.section-separaters {
			clear:both;
			background-color:gray;
			color:white;
			text-align:center;
}
#contact {
	border: none;
}
#FB {
	top: 0px;
	border: none;
}
#FB:hover {
	background-color: white;
}

#FB img {
	position: absolute;
	top: 30%;
	height: 30px;
}

#main-body {
	position: relative;
	clear: both;
	width: 100%;
	height: 100%;
	top: 0%;
	left:0%;
}
#main {
	float: right;
	height: 100%;
	width: 100%;
	background-color: white;
}
#footer {
	position: relative;
	clear: both;
	margin-top:auto;
	left:0px;
	height: 10%;
	width: 100%;
	background-color:#333333;
}		
#footer p {
	margin: 20px;
	position: relative;
	top: 5%;
	color: white;
}